:root {
	font-family: 'Montserrat', sans-serif;
	--font-main: 'Montserrat';
	--color-white: #ffffff;
	--color-primary: #403ccb;
	--color-primary-30: #403ccb4D;
	--color-secondary: #F5AD1C;
	--color-secondary-30: #F5AD1C4D;
	--color-bg: #F1EAE1;
	--color-text: #393939;

	--font-size-xs: 12px;
	--font-size-sm: 14px;
	--font-size-md: 16px;
	--font-size-lg: 20px;
	--font-size-xl: 24px;

	--border-radius: 8px;

	--media-mobile-small: 320px; 
	--media-mobile: 600px; 
	--media-tablet: 768px; 
	--media-laptop: 992px; 
}

body, p {
	margin: 0px;
}

body {
	background-color: var(--color-bg);
	color: var(--color-text);
}

a {
	text-decoration: none;
	color: inherit;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0px 15px;
}

.content {
	max-width: 860px;
	margin: 0 auto;
	padding: 0 10px;
}

img {
	max-width: 100%;
}

.color-primary {
	color: var(--color-primary);
}

.mobile {
	display: none;
}

@media(max-width: 600px) {
	.mobile {
		display: initial;
	}
	.desktop {
		display: none;
	}
}

/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
	font-display: swap;
  src: local(''),
       url('/fonts/montserrat/montserrat-v24-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/montserrat/montserrat-v24-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
	font-display: swap;
  src: local(''),
       url('/fonts/montserrat/montserrat-v24-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('/fonts/montserrat/montserrat-v24-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}